body {
    background-image: url("/background.png");
    background-repeat: repeat;

    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 2rem;
    flex-wrap: wrap;
    border: 4px #a200ff solid;
    background-color: #fff7b4;
    color: #5e0095;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}

.content-box {
    border: 2px #000022 solid;
    background-color: #eee;
    padding: 0.5rem;
}

.divider {
    width: 95%;
    border-top: 1px #444 solid;
    border-bottom: 3px #444 dashed;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-size: 1.1rem;
    margin: 0.5rem;
}

.about {
    display: flex;
    flex-direction: column;
}

.about > p {
    color: blue;
}

@media (orientation: landscape) {
    .main {
        width: 60vw;
        margin-top: 7rem;
        margin-bottom: 7rem
    }

    .navigation {
        width: 30%;
    }

    .about {
        width: 60%;
    }

    .updates {
        width: 40%;
    }

    .people {
        width: 50%;
    }
}
