name: Remote SSH Command
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: kestrel
          password: ${{ secrets.PASSWORD }}
          script: |
            eval "$(/home/linuxbrew/.linuxbrew/bin/brew/shellenv)"
            cd kestrel.pet
            git pull
            /home/linuxbrew/.linuxbrew/bin/gleam export erlang-shipment
            echo ${{ secrets.PASSWORD }} | sudo -S systemctl restart passerine.service